<!DOCTYPE html>
<html>
	<head>
		<title>Oregon Humane Society</title>
		<link rel="stylesheet" href="styles/site-wide.css">
		<link rel="stylesheet" href="styles/page-specific-stylesheets/adopt.css">
	</head>
	<body>
		<div class="pet_of_the_day col-xs-12">

		</div>
		<div class="container full-mobile">
			<div class="heading">
				<h1> Adoption </h1>
			</div>
			<div class="pet_type col-xs-12">
				<img class="resize" src="images/adopt/dog3.jpg">
				<h2>Dogs & <br> Puppies</h2>
			</div>
			<div class="col-xs-12 pet_type">
				<img src="images/adopt/cat2.jpg">
				<h2>Cats & Kittens</h2>
			</div>
			<div class="col-xs-12 pet_type">
				<img src="images/adopt/small-mammal1.jpg">
				<h2>Small <br> Mammals</h2>
			</div>
			<div class="col-xs-12 pet_type">
				<img src="images/adopt/horses1.jpg">
				<h2>Horses</h2>
			</div>
		</div>
	</body>
</html>