<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/main_links.css">
    <link rel="stylesheet" href="styles/secondary_links.css">
</head>

<body>
    <div class="main-body">
        <div class="row">
            <div class="heading col-xs-12">
                <h1>Donate</h1>
            </div>
        </div>
        <div class="main_links row">
            <div class="col-xs-12 col-md-6">
                <div class="heading_tab">
                    <h3>Donate Monthly</h3>
                    <img src="images/donate/donate-monthly.jpg">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="heading_tab">
                    <h3>Donate</h3>
                    <img src="images/donate/donate.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    The lifesaving work of OHS is only possible because of donors like you. OHS receives no tax dollars and is not affiliated with any national humane organization.
                </p>
            </div>
        </div>
        <div class="secondary_links row">
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/memorial-gifts-and-celebrations.jpg">
                <p>Memorial & Celebration Gifts</p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/autos-for-animals.jpg">
                <p>Autos for Animals</p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/corporate-involvement.jpg">
                <p>Corporate Involvement</p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/wish-list.jpg">
                <p>Wish List</p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/special-events.jpg">
                <p>Speical Events</p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/estate-gifts.jpg">
                <p>Estate Gifts</p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/leadership-giving.jpg">
                <p>Leadership Giving/TLC</p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="images/donate/more-ways-to-give.jpg">
                <p>More Ways to Give</p>
            </div>
        </div>  
    </div>
</body>

</html>