<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h2>Donate</h2>
		<div>
			<h3>Donate Monthly</h3>
		</div>
		<div>
			<h3>Donate</h3>
		</div>
		<p>
			The lifesaving work of OHS is only possible because of donors like you. OHS receives no tax dollars and is not affiliated with any national humane organization.
		</p>
		<div>
			<p>Memorial & Celebration Gifts</p>
		</div>
		<div>
			<p>Autos for Animals</p>
		</div>
		<div>
			<p>Corporate Involvement</p>
		</div>
		<div>
			<p>Wish List</p>
		</div>
		<div>
			<p>Speical Events</p>
		</div>
		<div>
			<p>Estate Gifts</p>
		</div>
		<div>
			<p>Leadership Giving/TLC</p>
		</div>
		<div>
			<p>More Ways to Give</p>
		</div>
	</body>
</html>