<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles/donate.css">
	</head>
	<body>
		<div class="heading">
			<h1>Donate</h1>
		</div>
		<div class="main_links">
			<div class="heading_tab">
				<h3>Donate Monthly</h3>
				<img src="images/donate-monthly.jpg">
			</div>
			<div class="heading_tab">
				<h3>Donate</h3>
				<img src="images/donate.jpg">
			</div>
		</div>
		<p>
			The lifesaving work of OHS is only possible because of donors like you. OHS receives no tax dollars and is not affiliated with any national humane organization.
		</p>
		<div class="secondary_links">
			<div class="row">
				<div class="col-xs-6">
					<img src="images/memorial-gifts-and-celebrations.jpg">
					<p>Memorial & Celebration Gifts</p>
				</div>
				<div  class="col-xs-6">
					<img src="images/autos-for-animals.jpg">
					<p>Autos for Animals</p>
				</div>
				<div  class="col-xs-6">
					<img src="images/corporate-involvement.jpg">
					<p>Corporate Involvement</p>
				</div>
				<div  class="col-xs-6">
					<img src="images/wish-list.jpg">
					<p>Wish List</p>
				</div>
			</div>
			<div class="row">
				<div  class="col-xs-6">
					<img src="images/special-events.jpg">
					<p>Speical Events</p>
				</div>
				<div  class="col-xs-6">
					<img src="images/estate-gifts.jpg">
					<p>Estate Gifts</p>
				</div>
				<div  class="col-xs-6">
					<img src="images/leadership-giving.jpg">
					<p>Leadership Giving/TLC</p>
				</div>
				<div  class="col-xs-6">
					<img src="images/more-ways-to-give.jpg">
					<p>More Ways to Give</p>
				</div>
			</div>
		</div>
	</body>
</html>