<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h2>Get Involved</h2>
		<div>
			<h3>Volunteer</h3>
		</div>
		<div>
			<h3>Attend an Event</h3>
		</div>
		<p>
			Although OHS has 19,000 members and nearly 2,000 volunteers, we are really nothing more than a single person saying “Yes, I want to help.”
		</p>
		<div>
			<p>Host a Fundraiser</p>
		</div>
		<div>
			<p>Animal Legislation</p>
		</div>
		<div>
			<p>Shop to Help Pets</p>
		</div>
		<div>
			<p>Support Our Partners</p>
		</div>
	</body>
</html>