<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles/main_links.css">
		<link rel="stylesheet" href="styles/secondary_links.css">
	</head>
	<body>
		<div class="heading">
			<h1>Get Involved</h1>
		</div>
		<div class="main_links">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="heading_tab">
						<h3>Volunteer</h3>
						<img src="images/get-involved/volunteer.jpg">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="heading_tab">
						<h3>Attend an Event</h3>
						<img src="images/get-involved/attend-an-event.jpg">
					</div>
				</div>
			</div>
		</div>
		<p>
			Although OHS has 19,000 members and nearly 2,000 volunteers, we are really nothing more than a single person saying “Yes, I want to help.”
		</p>
		<br>
		<div class="secondary_links">
			<div class="row">
				<div  class="col-xs-6 col-sm-3">
					<img src="images/get-involved/host-a-fundraiser.jpg">
						<p>Host a Fundraiser</p>
				</div>
				<div  class="col-xs-6 col-sm-3">
					<img src="images/get-involved/animal-legislation.jpg">
						<p>Animal Legislation</p>
				</div>
				<div  class="col-xs-6 col-sm-3">
					<img src="images/get-involved/shop-to-help-pets.jpg">
						<p>Shop to Help Pets</p>
				</div>
				<div  class="col-xs-6 col-sm-3">
					<img src="images/get-involved/support-our-partners.jpg">
						<p>Support Our Partners</p>
				</div>
			</div>
		</div>
	</body>
</html>