<!DOCTYPE html>
<html>
	<head>
		<title>Oregon Humane Society</title>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<div class="pet_of_the_day col-xs-12">

		</div>
		<div class="pet_type col-xs-12">
			<img class="resize" src="images/dog3.jpg">
			<h2>Dogs & <br> Puppies</h2>
		</div>
		<div class="pet_type col-xs-12">
			<img src="images/cat2.jpg">
			<h2>Cats & Kittens</h2>
		</div>
		<div class="pet_type col-xs-12">
			<img src="images/small-mammal1.jpg">
			<h2>Small <br> Mammals</h2>
		</div>
		<div class="pet_type col-xs-12">
			<img src="images/horses1.jpg">
			<h2>Horses</h2>
		</div>
	</body>
</html>