<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="styles/site-wide.css">
		<link rel="stylesheet" href="styles/report-cruelty.css">
	</head>
	<body>
		<div class="container full-mobile">
			<div class="heading">
				<h1> Report Cruelty </h1>
			</div>
			<img src="images/report-cruelty.jpg">
			<h2> Safeguarding Animals </h2>
			<p>
				Protecting animals from neglect and abuse has been at the heart of the OHS mission for over 100 years. Our Humane Special Agents, Investigations support staff and forensically-trained veterinarians help over 3,000 at-risk animals annually. 
			</p>
			<h3> How to Report Cruelty </h3>
			<p>
				OHS investigates allegations of animal abuse and neglect. If you believe you have witnessed a crime involving animals, please complete our online complaint form here. You can also phone in a report at (503) 285-7722, ext. 214.

				If your report is about an emergency involving an animal needing immediate assistance, such as an animal in a hot car, please call your local animal control or police agency. If your report is about issues such as barking dogs, animals running loose or animal bites, please call your local animal control agency.

				You can reference Oregon’s animal cruelty and related laws here.
			</p>
			<h3> About OHS Humane Officers </h3>
			<p>
				Our Humane Special Agents are highly trained certified police officers commissioned by the Oregon State Police to investigate animal crimes.

				Most cases are resolved through educating owners about proper care of animals. OHS Special Agents are also authorized to issue citations, author search warrants and assist law enforcement agencies in investigation, crime scene processing and evidence collection.

				While most of our work takes place in Multnomah and surrounding counties, OHS officers have jurisdiction statewide.
			</p>
		</div>
		<div class="h_iframe">
			<img class="ratio" src="http://placehold.it/16x9"/>
			<!-- transparent image allow video to behave responsivly -->
			<iframe src="https://www.youtube.com/embed/a39a9xJDBZs" frameborder="0" allowfullscreen></iframe>
		</div>

	</body>
</html>