<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/main_links.css">
    <link rel="stylesheet" href="styles/secondary_links.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="heading col-xs-12">
                <h1>Services</h1>
            </div>
            <div class="main_links row">
                <div class="col-xs-12 col-sm-5">
                    <div class="heading_tab">
                        <h3>Student Programs</h3>
                        <img src="images/services/student-programs.jpg">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <div class="heading_tab">
                        <h3>Spay & Neuter</h3>
                        <img src="images/services/spay-neuter.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="secondary_links row">
            <div class="col-xs-6 col-sm-3">
                <img src="images/services/animal-rescue.jpg">
                <p>Animal Rescue</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img src="images/services/find-your-pet-a-home.jpg">
                <p>Find Your Pet a Home</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img src="images/services/lost-found-pets.jpg">
                <p>Lost & Found Pets</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img src="images/services/pet-memorials.jpg">
                <p>Pet Memorials</p>
            </div>
        </div>
    </div>
</body>

</html>