<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/secondary_links.css">
    <link rel="stylesheet" href="styles/iframe.css">
</head>

<body>
    <div class="main-body">
        <div class="row">
            <div class="heading col-xs-12">
                <h1>Training</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="h_iframe">
                    <img class="ratio" src="http://placehold.it/16x9" />
                    <!-- transparent image allow video to behave responsivly -->
                    <iframe src="https://www.youtube.com/embed/XsCf1rzCeu8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    You're invited to take a training class at OHS, call our free behavior help line, browse our advice articles, and more.
                </p>
            </div>
        </div>
        <div class="secondary_links row">
            <div class="col-xs-6 col-lg-3">
                <img src="images/training/training_classes.jpg">
                <p>Training Classes</p>
            </div>
            <div class="col-xs-6 col-lg-3">
                <img src="images/training/one-on-one-training.jpg">
                <p>One-on-One Training</p>
            </div>
            <div class="col-xs-6 col-lg-3">
                <img src="images/training/pet-advice-help-line.jpg">
                <p>Pet Advice & Help Line</p>
            </div>
            <div class="col-xs-6 col-lg-3">
                <img src="images/training/FAQ.jpg">
                <p>FAQ</p>
            </div>
        </div>
    </div>
</body>

</html>