<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="styles/iframe.css">
    <link rel="stylesheet" href="styles/page-specific-stylesheets/visit-us.css">
</head>

<body>
    <div class="main-body">
        <div class="row">
            <div class="heading col-xs-12 col-sm-9">
                <h1>Visit Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="h_iframe">
                    <img class="ratio" src="http://placehold.it/16x9" />
                    <!-- transparent image allow video to behave responsivly -->
                    <iframe src="https://www.youtube.com/embed/gDfwlqagawM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <h2>Visit Our Shelter in Portland</h2>
                <p>
                    OHS is located in Northeast Portland. Find directions, hours, mailing address and more.
                </p>
                <h2>Quick Links</h2>
                <p>Holiday Hours</p>
                <ul>
                    <li>Dec. 24: 10 am-6 pm</li>
                    <li>Dec. 25: Closed to the public</li>
                    <li>Dec. 31: 10 am-6 pm</li>
                    <li>Jan. 1: Closed to the public</li>
                </ul>
                <p>
                    Please Note: OHS will be closed to the public on Christmas day and New Year’s day, and closing early on Christmas Eve and New Year’s Eve. The animals will, as always, be cared for by a dedicated holiday team. Happy holidays!
                </p>
                <h2>Getting Here: Directions to OHS</h2>
                <p>
                    The OHS shelter is located at:
                    <br>1067 NE Columbia Blvd.
                    <br>Portland, Oregon 97211
                </p>
                <h3>Map it with Google Maps</h3>
                <div class="h_iframe">
                    <img class="ratio" src="http://placehold.it/16x9" />
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2792.568388086735!2d-122.65256799999997!3d45.579117499999995!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1414346221803" frameborder="0"></iframe>
                </div>
                <h3>Directions by Car: I-5 Northbound</h3>
                <p>
                    Exit 306A, NE Columbia Blvd. At the end of the exit ramp there is a stop light. Turn left (east) at the light, which puts you onto Columbia Blvd. Proceed approximately 1.5 miles (through 2 lights) along Columbia Blvd. OHS is on the left side of the street immediately past the intersection with NE 11th Ave. Look for our colorful flags and large sign.
                </P>
                <h3>Directions by Car: I-5 Southbound</h3>
                <p>
                    Take Exit #307, Marine Drive/Martin Luther King, Jr. Blvd., and proceed south on MLK Jr. Blvd. for about 2 miles. At the first stoplight, turn left (east) on NE Columbia Blvd. Proceed 0.8 miles to OHS. The shelter is on left side just past NE 11th Ave. Look for our colorful flags and large sign.
                </p>
                <h3>Directions by Car: I-205 Northbound</h3>
                <p>
                    Take Exit #23B for US-30 Bypass West / NE Killingsworth St. Keep right at the fork toward US-30 Bypass W/NE Killingsworth St. Heading west for 0.7 miles, you will bear right onto NE Columbia Parkway which turns into NE Columbia Blvd. Proceed about 4 miles heading west on NE Columbia Blvd. until your reach the shelter. The shelter will be on your right. Look for our colorful flags and large sign.
                </p>
                <h3>Arriving by Bus</h3>
                <p>
                    TriMet Route #6,#70, or #75
                </p>
                <h3>Bicycling Directions</h3>
                <p>
                    Whichever part of the Portland area you are traveling from, the safest route to OHS for bicyclists is 11th Avenue NE. We recommend taking NE Dekum St. or Lombard (see bike route map below) to 11th Ave. and then following the directions below. Columbia Blvd. is a truck route and does not have designated bike lanes or contiguous sidewalks. Here is a Google Map of the area with bicycle-safe routes highlighted in green. (If bicycle routes do not appear for any reason, select the bicycle option from the Google Maps filters.) Heading north on 11th, cross Lombard St. at the traffic light. There is a train crossing just after. Proceed along 11th to Columbia Blvd. There is no designated crossing here due to trucks. Turn left onto Columbia then make an immediate right into the west OHS driveway. There is public bike parking in front of the building to the east of the main entrance.
                </p>
                <h2> Mailing Address </h2>
                <p>
                    Send postal letters and packages to:
                    <br>
                    <br>Oregon Humane Society
                    <br>1067 NE Columbia Blvd.
                    <br>Portland, OR 97211-1411
                </p>
                <h3> Hours for viewing pets</h3>
                <p>
                    Sunday-Wednesday: 10am-7pm
                    <br> Thursday-Saturday: 10am-9pm
                </p>
                <h3> Hours for meeting with pets</h3>
                <p>
                    Sunday-Wednesday:10am-6:30pm
                    <br> Thursday-Saturday:10am-8:30pm
                </p>
                <h3> Phone operator hours </h3>
                <p>
                    Every day: 9 am-7 pm at (503) 285-7722
                </p>
                <h3> Donation drop-off </h3>
                <p>
                    Every day during open hours, donations can be brought to the main lobby. Thank you!
                </p>
                <h2>Outreach Locations: Off-Site Adoptions</h2>
                <p>
                    OHS has only one main shelter, located in NE Portland, and is not affiliated with any other local shelters (such as county animal services). OHS does offer pets for adoption at partner locations throughout the Portland area for the convenience of prospective adopters. See all adoption outreach locations and hours here. When a pet for adoption is located at an outreach partner, this will be noted in the pet’s profile on our website.
                </p>
            </div>
        </div>
    </div>
</body>

</html>