
.pet_type {
	display:block;
	margin:0;
	padding:0;
	border:0;
	z-index:1;
}

.pet_type img {
	position:relative;
	max-width: 100%;
    height: auto;
    margin:0;
    z-index:2;
}

.pet_type h2 {
	text-align:left;
	top:5px;
	color:white;
	position:absolute;
	z-index:3;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2.75rem;
	letter-spacing: 1px;
}

.pet_type:nth-child(odd) h2{
	text-align:right;
	top:5px;
	right:25px;
	color:white;
	position:absolute;
	z-index:3;
}