body {
	margin:0;
}

header img {
	padding: 5%;
	height: auto;
	width: 100%;
}

.pet_type {
	display:block;
	margin:0;
	padding:0;
	border:0;
	z-index:1;
}

.pet_type img {
	position:relative;
	max-width: 100%;
    height: auto;
    margin:0;
    z-index:2;
}

.pet_type h2 {
	text-align:left;
	top:10px;
	left:10px;
	color:white;
	position:absolute;
	z-index:3;
}

.pet_type:nth-child(even) h2{
	text-align:right;
	top:5px;
	right:10px;
	color:white;
	position:absolute;
	z-index:3;
}

