.main_links {
	text-align:center;
	margin:0 0 15px 0;
	padding: 0 20px 0 20px;
}

.heading_tab {
	display:inline-block;
	border-radius:25px;
	background-color:#8385F8;
	margin:40px 0 0 0;
	max-width:100%;
}

.heading_tab h3 {
	margin-left:0;
	color:white;
}

.heading_tab img {
	border-radius: 0 0 25px 25px;
	max-width:100%;
}