.secondary_links div div p {
	text-align:center;
}

.secondary_links {
	text-align:center;
	margin-top:25px;
	margin-bottom:20px;
}

.secondary_links img{
	border-radius: 25px;
	max-width:80%;
}

.secondary_links .row div:nth-child(3){
	clear:both;
}