.secondary_links div p {
	text-align:center;
	margin: 0 0 10px 0;
}

.secondary_links {
	text-align:center;
	margin:20px 20px 10px 20px;
	padding:0;
}

.secondary_links img{
	border-radius: 25px;
	max-width:100%;
	margin:0 0 10px 0;
}

.secondary_links .col-xs-6:nth-child(3){
	clear:both;
}

.secondary_links .col-xs-6:nth-child(odd){
	padding-left: 0;
}

.secondary_links .col-xs-6:nth-child(even){
	padding-right: 0;
}

@media (min-width:600px){
	.secondary_links div:nth-child(3){
		clear:right;
		padding: 0 0 0 0;
	}
}

@media (min-width:768px){
	.secondary_links{
		margin: 20px 0 10px 0;
	}
	.secondary_links .col-xs-6, .secondary_links .col-md-4, .secondary_links .col-lg-3{
		padding: 0 0 0 0;
	}
	.secondary_links .col-xs-6:nth-child(3){
		clear:right;
	}
}

@media (min-width:992px){
	.secondary_links .col-md-4:nth-child(3n+1), .secondary_links .col-md-4:nth-child(3n+1) p{
		text-align:left;
	}
	.secondary_links .col-md-4:nth-child(3n), .secondary_links .col-md-4:nth-child(3n) p{
		text-align:right;
	}
}